/* responsive tablet */
@media(max-width: 768px){
  
  /* Geral */
  .container{
    padding: 20px 0;
  }

  /* Slider */
  #mainSlider .carouser-inner, #mainSlider .carousel-item{
    height: auto;
  }

  #mainSlider .carousel-caption h2{
    font-size: 28px;
  }

  #mainSlider .carousel-caption p{
    font-size: 18px;
    margin-bottom: 40px;
  }

  .carousel-caption{
    left: 10%;
    right: 10%;
  }

  /* about */
  #about-area img{
    margin-top: 100px;
  }

  /* Data */
  .circle-box div{
    padding: 0 10px;
  }

  #data-area p{
    font-size: 16px;
  }

  /* Team */
  .card-title{
    font-size: 14px;
  }

  .card-text{
    font-size: 12px;
  }

  /* Apply */
  #apply-area .apply-box{
    padding:  50px 25px;
  }

  /* news */
  #news-area{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #email-input{
    width: 70%;
  }

  #call-area{
    margin-top: 30px;
  }

  #call-area .container{
    padding: 30px;
  }
  #call-area p, #call-area #call-btn{
    font-size: 16px;
  }
}

/* responsive phone */
@media(max-width: 425px){
   /* Slider */
   #mainSlider{
     margin-top: 90px;
   }
   #mainSlider .carousel-caption{
     top: 5%;
   }
   #mainSlider .carousel-caption h2{
     font-size: 18px;
     margin-bottom: 40px;
   }
   #mainSlider .carousel-caption p{
    display: none;
  }
  .carousel-caption .main-btn{
    font-size: 14px;
  }

  /* About */
  .main-title{
    font-size: 30px;
  }
  #about-area img{
    margin-top: 0;
    margin-bottom: 30px;
  }

  /* Data */
  .circle-box{
    width: 50%;
  }

  /* Team */
  #team-area .col-md-3{
    width: 50%;
    margin-bottom: 30px;
  }

  /* apply */
  #apply-area{
    height: auto;
  }
  #company-img{
    display: none;
  }

  /* Filter */
  #portfolio-area .filter-btn{
    margin-bottom: 20px;
  }
  .project-box{
    width: 50%;
  }

  /* News */
  #news-area .main-title{
    font-size: 24px;
  }
  #news-area p{
    font-size: 16px;
  }
  #email-input{
    width: 90%;
  }

  /* Call */
  #call-area p, #call-area #call-btn{
    font-size: 14px;
    letter-spacing: 0;
    margin: 0;
    width: 50%;
  }
  
  /* Contact */
  .contact-box{
    border: none;
    margin-bottom: 0;
  }
}
